<div class="col-md-2" style="padding-top: 75px;">
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-heart'></i>
                <div class="logo_name">Hello Diet</div>
            </div>
            <i class='bx bx-menu' id='btn'></i>
        </div>

        <div class="src">
            <i class='bx bx-search'></i>
            <input type="text" id="search-input" placeholder="Search.." onchange="searchTable()">
        </div>

        <ul class="nav">
            <li>
                <a href="/home">
                    <i class='bx bx-bar-chart-square'></i>
                    <span class="link_name">Trang chủ</span>
                </a>
                <span class="tooltip">Trang chủ</span>
            </li>
            <li>
                <a href="/product">
                    <i class='bx bx-line-chart'></i>
                    <span class="link_name">Quản lý sản phẩm</span>
                </a>
                <span class="tooltip">Quản lý sản phẩm</span>
            </li>
            <li>
                <a href="/account">
                    <i class='bx bx-calendar-event'></i>
                    <span class="link_name">Tài khoản</span>
                </a>
                <span class="tooltip">Tài khoản</span>
            </li>

        </ul>
    </div>
</div>
<div class="col-md-9" style="  margin-top: 10;">
    <div class="container md-3">
        <button type="button" id="add-new-btn" class="btn btn-success"
            style="margin-top: 20px;margin-bottom: 10px;">Thêm
        </button>
        <div class="col-md-12">
            <form action="/product/create_data" id="product-form" method="post" enctype="multipart/form-data"
                style="display: none;">
                <div class="row">
                    <div class="col-md-5" style="display: none;">
                        <label for="name" class="form-label">ID:</label>
                        <input type="text" id="id" name="id" class="form-control" required readonly>
                    </div>
                    <div class="col-md-5">
                        <label for="name" class="form-label">Tên sản phẩm:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>

                    <div class="col-md-5">
                        <label for="image" class="form-label">Hình ảnh:</label>
                        <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
                    </div>

                    <div class="col-md-5">
                        <label for="quantity" class="form-label">Số lượng:</label>
                        <input type="number" id="quantity" name="soluong" class="form-control" required>
                    </div>

                    <div class="col-md-5">
                        <label for="status" class="form-label">Tình trạng:</label>
                        <select id="status" name="status" class="form-select">
                            <option value="New">Mới</option>
                            <option value="Used">Đã sử dụng</option>
                        </select>
                    </div>

                    <div class="col-md-5">
                        <label for="price" class="form-label">Giá:</label>
                        <input type="number" id="price" name="price" class="form-control" required>
                    </div>

                    <div class="col-md-5">
                        <label for="category" class="form-label">Loại sản phẩm:</label>
                        <select id="category" name="loai" name="loai" class="form-select">
                            <option value="Clothing">Quần áo</option>
                            <option value="Electronics">Điện tử</option>
                            <option value="Food">Thực phẩm</option>
                        </select>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 10px;">Thêm sản
                    phẩm</button>

            </form>
        </div>

        <table id="my-table" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên SP</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Tình trạng</th>
                    <th>Giá</th>
                    <th>Loại Sp</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each product}}
                <tr id="tr">
                    <td>{{this._id}}</td>
                    <td>{{this.name}}</td>
                    <td><img src="/images/{{this.image}}" alt="" style="width: 40px; height: 40px;"></td>
                    <td>{{this.soluong}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.loai}}</td>
                    <td>
                        <button class="deleteButton">
                            <img src="/img/delete_vector_icon_4017378.png" alt="" style="width: 20px; height: 20px;">

                        </button>
                        <button class="btnupdate">
                            <img src="/img/edit.png" alt="" style="width: 20px; height: 20px;">

                        </button>

                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>


<script>

    // ẩn hiện form
    const addNewBtn = document.getElementById("add-new-btn");
    let showForm = false;

    addNewBtn.addEventListener("click", () => {
        showForm = !showForm; // Đảo ngược giá trị của biến showForm
        const form = document.getElementById("product-form");
        form.style.display = showForm ? "block" : "none"; // Hiện hoặc ẩn form tùy thuộc vào giá trị của biến showForm
    });

    const btnUpdate = document.querySelectorAll(".btnupdate");
    const form = document.getElementById("product-form");
    btnUpdate.forEach((btn) => {
        btn.addEventListener("click", () => {
            form.style.display = "block";

            const row = btn.closest("tr");
            const id = row.cells[0].textContent;
            const name = row.cells[1].textContent;
            const image = row.cells[2].querySelector("img").src;
            const soluong = row.cells[3].textContent;
            const status = row.cells[4].textContent;
            const price = row.cells[5].textContent;
            const loai = row.cells[6].textContent;
            console.log(soluong, price, image);

            document.getElementById("id").value = id;
            document.getElementById("name").value = name;
            document.getElementById("quantity").value = soluong;
            document.getElementById("status").value = status;
            document.getElementById("price").value = price;
            document.getElementById("category").value = loai;
            document.getElementById("image").value = image;
            document.body.scrollTop = 0; // cho Safari
            document.documentElement.scrollTop = 0;
        });
    });

    // delete
    const deleteButton = document.querySelectorAll(".deleteButton");

    deleteButton.forEach((btn) => {
        btn.addEventListener("click", () => {
            const confirmed = window.confirm("Bạn có chắc muốn xóa sản phẩm này không?");
            if (confirmed) {
                const id = btn.parentNode.parentNode.querySelector('td:first-child').textContent;
                // Thực hiện yêu cầu HTTP để xóa sản phẩm
                fetch(`/product/${id}/delete`, { method: "POST" })
                    .then((response) => {
                        location.reload(); // Reload lại trang

                        if (response.ok) {
                            alert("Đã xóa sản phẩm thành công");
                            // Thực hiện các hành động khác sau khi xóa sản phẩm thành công
                        } else {
                            alert("Lỗi khi xóa sản phẩm");
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        });

    });


    // tìm kiếm
    function searchTable() {
        // Lấy giá trị của ô input tìm kiếm
        var input = document.getElementById("search-input");
        var filter = input.value.toUpperCase();

        // Lấy bảng dữ liệu
        var table = document.getElementById("my-table");

        // Lấy tất cả các dòng trong bảng
        var rows = table.querySelectorAll("#tr");

        // Lặp qua tất cả các dòng và ẩn các dòng không phù hợp
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            var match = false;
            for (var j = 0; j < cells.length; j++) {
                var cellText = cells[j].textContent.toUpperCase();
                if (cellText.indexOf(filter) > -1) {
                    match = true;
                    break;
                }
            }
            if (match) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    // Gán sự kiện khi nhập vào ô input
    document.getElementById("search-input").addEventListener("keyup", searchTable);


</script>